.main-outer{
  height: 388px;
  width: 380px;
}
.text{
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 18;
}
a{
  color: #63C132;
}
a:hover {
    color: #AAEFDF;
}
.center{
  margin: auto;
  text-align: center;
}
.image{
  height: 388px;
  z-index: -1;
  position: absolute;
}
.bottom{
  bottom:10;
  position: absolute;
  left: 0;
  right: 0;
}
.header{
  padding-top: 10px;
  font-size: 22px;
}
.settingLabel{
  float:left;
  margin-top: 3px;
  margin-left:10px;
  font-size:18px;
}

/* Toggles */

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 29px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}
